# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/frontend/node_modules
/frontend/build
/frontend/package-lock.json
/backend/package-lock.json
/backend/.env
/backend/saveytm-firebase-adminsdk-rzwar-ddd2543d07.json
/storageBackend/.env
/storageBackend/package-lock.json
/storageBackend/node_modules
./DS_Store


